  
@media (max-width:768px){
    .x{
width:95%;
padding:25px;
}
    h6{
font-size:30px;
}
    .b{
translate:0;
margin:auto;
}
}
html,body{ //body zone//

    height: 100%;
    margin: 0;
    text-align: center;
    background-image: url(re1.jpg);
    border-radius: 40px;
    display: flex;
}
.b{     //lock picture zone//
   height: 140px;
   width: 150px;
    background-image:url(lock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border:solid;
    translate:0 190px;
    margin: auto;
 }   
 .x{
   height:  590px;
   width: 1100px;
    background-color: rgba(175, 179, 179, 0.521);
    background-position: center;
    border-radius:70px;
    border:solid;
    translate:90px 0px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}
p{
    font-family: monospace;
    translate: 0px 200px;text-decoration: underline;
    font-style: oblique;
    text-transform: uppercase;
}
h6{
    translate: 0px 20px;
   font:italic small-caps bold 50px fantasy  ;
   text-align: center;
   text-shadow: 2px 2px ;
   text-decoration: underline;
  }  
  input{
    border: solid;
    border-radius: 8px;
    translate:30px 200px;
 }
button {
   color: rgb(249, 244, 244);
   background-color:grey ;
   translate: 35px 200px;
   border-radius: 8px;
   animation: forwards;
   transition: 1.2s;
}
button:hover{
    cursor: pointer;
    transform: scale(1.08);
    background-color: rgb(95, 97, 96);
    }
input:invalid{
border-color: red;
}
    input:valid{
  border-color: rgb(6, 94, 31); 
 }
 
